@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
:root {
    --maincolor: #fff;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans SC', sans-serif;
    margin: 0 !important;
}

.navbar{
    margin-top: 0;
    list-style: none;
    padding: 0;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    overflow: hidden;
}

.navbar li{
    float: right;
}

.navbar li a{
    display: block;
    color: var(--maincolor);
    text-decoration: none;
    padding: 15px;
}

.navbar li a:hover{
    font-size: 24px;
    transition: .5s;
}

.menulist{
    margin: 10px;
    list-style: none;
    border: 1px solid #ddd;
    width: 200px;
    border-radius: 10px;
    padding: 20px;
}

.menulist li {
    font-size: 18px;
    line-height: 2.4rem;
    border-bottom: 1px solid #ddd;

}

.menulist li a{
    text-decoration: none;
    color: #333;
}

.menulist li a:hover{
    color: peru;
}

.menulist li:last-child{
    border: none;
}